@import "tailwindcss";

@theme {
  --color-tiffany: #0ABAB5;
  --color-primary: #0ABAB5;
  --color-primary-dark: #000000;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

/* PrimeNG overrides */
.p-component {
  font-family: 'Inter', sans-serif;
}
.p-button {
  background-color: #0ABAB5 !important;
  color: #FFFFFF !important;
  border: 1px solid #0ABAB5 !important;
}
.p-button:hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  border-bottom: 2px solid #0ABAB5 !important;
}
.p-datatable .p-datatable-tbody > tr {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  border-bottom: 1px solid #0ABAB5 !important;
}
.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #0ABAB5 !important;
  color: #FFFFFF !important;
}
